<a href="https://colab.research.google.com/github/marcoplacenti/protein_generation/blob/main/final/keywords_go_terms_loader.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import urllib.request
import pandas as pd
from IPython.display import clear_output
import numpy as np
from google.colab import drive
import matplotlib.pyplot as plt
drive.mount('/content/drive')
import requests, sys
import json

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
cd /content/drive/MyDrive/'Colab Notebooks'/project/

/content/drive/MyDrive/Colab Notebooks/project

In [ ]:
df = pd.read_excel('data_raw.xls')

In [ ]:
go_ids = df['Gene ontology IDs']
kw_ids = df['Keyword ID']

In [ ]:
def get_unique_ids(df):
  ids = []
  df.dropna(axis=0, inplace=True)
  id_list=df.tolist()
  for entry in id_list:
    ids.append(entry.replace(" ","").split(";"))
  ids_flat = list(set([item for sublist in ids for item in sublist]))
  return ids_flat

In [ ]:
go_query = ""
query = get_unique_ids(go_ids)
for entry in query:
  go_query=go_query+entry+","
go_query

'GO:0045202,GO:0008284,GO:0007205,GO:2000986,GO:0021954,GO:0004672,GO:0005975,GO:0005524,GO:0016758,GO:0031514,GO:0006596,GO:0009306,GO:0031877,GO:0045938,GO:0043203,GO:0071878,GO:0008628,GO:0045776,GO:0031640,GO:0005739,GO:0005246,GO:0007049,GO:0030252,GO:0005509,GO:0006101,GO:0006098,GO:0004616,GO:0008081,GO:0010811,GO:0046982,GO:0000166,GO:0006919,GO:0050909,GO:0006281,GO:1904058,GO:0010447,GO:0007568,GO:0051301,GO:0042117,GO:0007193,GO:0008285,GO:0030072,GO:0006952,GO:0021987,GO:0032099,GO:0050661,GO:0048471,GO:0007267,GO:0016757,GO:0016021,GO:0007268,GO:0007613,GO:0030259,GO:0007165,GO:0000176,GO:0007409,GO:0007631,GO:0032100,GO:0001764,GO:0098992,GO:0032094,GO:0019521,GO:0030425,GO:0005794,GO:0001836,GO:0002865,GO:0003994,GO:0007586,GO:0006811,GO:0032096,GO:0005201,GO:0031843,GO:0043195,GO:0043005,GO:1901215,GO:0007186,GO:2000987,GO:0051539,GO:0014049,GO:0007218,GO:0005829,GO:0005604,GO:0051428,GO:0005886,GO:0048572,GO:0031175,GO:1904407,GO:1904000,GO:0071821,GO:0045187,GO:0005615,GO:0007584,GO:0003676,GO:0005581,GO:0004674,GO:0003682,GO:0001664,GO:0008542,GO:0051538,GO:0005576,GO:0051382,GO:0008343,GO:0007166,GO:0043200,GO:0031297,GO:0005184,GO:0004930,GO:0032903,GO:0016020,GO:0030350,GO:0043204,GO:0016740,GO:0043240,GO:0001878,GO:0044877,GO:0031841,GO:0030334,GO:2000253,GO:0045964,GO:0090729,GO:0006099,GO:0060575,GO:0019731,GO:0090274,GO:0008194,GO:0043025,GO:0006915,GO:0051901,GO:0050830,GO:0009408,GO:0048545,GO:0050829,GO:0030424,GO:0010243,GO:0006396,GO:0042755,GO:0006972,GO:0045087,GO:0007187,GO:0050731,GO:0043194,GO:0005102,GO:1903999,GO:0019732,GO:0090275,GO:0008408,GO:0070374,GO:0000712,GO:0050832,GO:0061844,GO:0042493,GO:0051930,GO:0005737,GO:0031844,GO:0031334,GO:0008217,GO:0005179,GO:0042742,GO:0000777,GO:0005730,GO:0031878,GO:0043065,'

In [ ]:
requestURL = "https://www.ebi.ac.uk/QuickGO/services/ontology/go/terms/"+str(go_query)

r = requests.get(requestURL, headers={ "Accept" : "application/json"})

if not r.ok:
  r.raise_for_status()
  sys.exit()

responseBody = json.loads(r.text)

go_dict = []

number_of_gos = responseBody["numberOfHits"]
for i in range(1,number_of_gos):
  go_dict.append([responseBody['results'][i]['id'], responseBody['results'][i]['aspect'],responseBody['results'][i]['name']])

In [ ]:
kw = pd.read_csv('keywords-all.tab',sep='\t')

In [ ]:
kw

     Keyword ID  ...            Category
0       KW-0001  ...              Ligand
1       KW-0002  ...      Technical term
2       KW-0003  ...              Ligand
3       KW-0004  ...              Ligand
4       KW-0937  ...  Biological process
...         ...  ...                 ...
1195    KW-0861  ...             Disease
1196    KW-0862  ...              Ligand
1197    KW-0864  ...  Biological process
1198    KW-0863  ...              Domain
1199    KW-0865  ...                 PTM

[1200 rows x 4 columns]

In [ ]:
go = pd.DataFrame(go_dict, columns=("ID","Aspect","Description"))

In [ ]:
go

             ID  ...                                        Description
0    GO:0003676  ...                               nucleic acid binding
1    GO:0016020  ...                                           membrane
2    GO:0016021  ...                     integral component of membrane
3    GO:0031640  ...                 killing of cells of other organism
4    GO:0021954  ...          central nervous system neuron development
..          ...  ...                                                ...
156  GO:0007268  ...                     chemical synaptic transmission
157  GO:0071821  ...                                  FANCM-MHF complex
158  GO:0071878  ...  negative regulation of adenylate cyclase-activ...
159  GO:0007409  ...                                       axonogenesis
160  GO:0046982  ...                protein heterodimerization activity

[161 rows x 3 columns]

In [ ]:
spieces = "Anguilla japonica"
requestURL = "https://www.ebi.ac.uk/ena/taxonomy/rest/scientific-name/"+str(spieces)

r = requests.get(requestURL, headers={ "Accept" : "application/json"})

if not r.ok:
  r.raise_for_status()
  sys.exit()

responseBody = json.loads(r.text)

taxonomy_lineage = [responseBody[0]['lineage'].split("; ")[0],
                    responseBody[0]['lineage'].split("; ")[1],
                    responseBody[0]['lineage'].split("; ")[2],
                    responseBody[0]['lineage'].split("; ")[6],
                    responseBody[0]['lineage'].split("; ")[9],
                    responseBody[0]['lineage'].split("; ")[12],
                    responseBody[0]['scientificName']
                    ]

In [ ]:
responseBody

[{'commonName': 'Japanese eel',
  'division': 'VRT',
  'formalName': 'true',
  'geneticCode': '1',
  'lineage': 'Eukaryota; Metazoa; Chordata; Craniata; Vertebrata; Euteleostomi; Actinopterygii; Neopterygii; Teleostei; Anguilliformes; Anguillidae; Anguilla; ',
  'mitochondrialGeneticCode': '2',
  'rank': 'species',
  'scientificName': 'Anguilla japonica',
  'submittable': 'true',
  'taxId': '7937'}]

In [ ]:
taxonomy_lineage

['Eukaryota',
 'Metazoa',
 'Chordata',
 'Actinopterygii',
 'Anguilliformes',
 '',
 'Anguilla japonica']

In [ ]:
df

      Unnamed: 0  ...                                           Sequence
0              0  ...               YPPKPENPGEDAPPEELARYYTALRHYINLITRQRY
1              1  ...  MVSVCRPWPAVAIALLALLVCLGALVDTCPIKPEAPGEDESLEELS...
2              2  ...  MAVVLKPWTVLVALVLCLLVCLGTFVDAYPPKPENPGEDASPEEQA...
3              3  ...               YPPKPENPGEDASPEEMTKYLTALRHYINLVTRQRY
4              4  ...  MIHSGAVMSMSILAFCLLACIHSGINAYPAKPASPRDGAPPEELAK...
...          ...  ...                                                ...
2725         813  ...  MLSCRLQCALAALSIALALGGVTGAPSDPRLRQFLQKSLAAAAGKQ...
2726         814  ...  MLSCRLQCALAALSIVLALGGVTGAPSDPRLRQFLQKSLAAAAGKQ...
2727         815  ...  MLSCRLQCALAALSIVLALGGVTGAPSDPRLRQFLQKSLAAAAGKQ...
2728         816  ...  MLSCRLQCALAALSIVLALGGVTGAPSDPRLRQFLQKSLAAAAGKQ...
2729         817  ...  MLSCRLQCALAALSIVLALGGVTGAPSDPRLRQFLQKSLAAAAGKQ...

[2730 rows x 14 columns]

In [ ]:
taxo = df.filter(regex='Taxonomic',axis=1)

In [ ]:
taxo[taxo['Taxonomic lineage (SPECIES)'] == 'Homo sapiens (Human)']

     Taxonomic lineage (SUPERKINGDOM)  ... Taxonomic lineage (GENUS)
1                           Eukaryota  ...                      Homo
21                          Eukaryota  ...                      Homo
28                          Eukaryota  ...                      Homo
32                          Eukaryota  ...                      Homo
215                         Eukaryota  ...                      Homo
288                         Eukaryota  ...                      Homo
340                         Eukaryota  ...                      Homo
1241                        Eukaryota  ...                      Homo
1250                        Eukaryota  ...                      Homo
1333                        Eukaryota  ...                      Homo
1334                        Eukaryota  ...                      Homo
1355                        Eukaryota  ...                      Homo
1916                        Eukaryota  ...                      Homo
1936                        Eukaryota  ...                      Homo
2013                        Eukaryota  ...                      Homo
2014                        Eukaryota  ...                      Homo

[16 rows x 8 columns]